@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Montserrat", "sans-serif";
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 90%;
  height: 12vh;

  /* Configs do Headerfixo */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

span {
  color: black;
}

#logo {
  text-decoration: none;
  color: black;
  font-size: 40px;
  margin-right: 50vh;
}

.menu {
  display: flex;
  text-decoration: none;
}

.menu li {
  margin-left: 40px;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgba(199, 199, 199, 0.703);
}

nav ul a:hover {
  color: black;
  transform: scale(1.3);
  transition: 600ms;
}

h2:hover {
  color: black;
  transform: scale(102%);
  transition: 600ms;
}

.container {
  display: flex;
  /* As coordenadas serão em relação ao container e não da pagina*/
  background-image: url(/assets/img/backgroundsec1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px; /*Altura no container*/
  color: white;
  line-height: 100px; /* Altura de linha*/
}

.elemento {
  text-align: start;
  color: white;
  margin-top: 320px;
  margin-left: 140px;
}

.elemento a {
  color: white;
}

img:hover {
  transform: scale(1.1);
}

.box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 90px;
  justify-content: center;
  max-width:max-content;
}

.box > img {
  padding: 7px;
}

h1 {
  font-size: 78px;
}

.rodape {
  display: flex;
  background-color: rgba(224, 220, 220, 0.194);
  justify-content: center;
  color: black;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.copy {
  padding-left: 50px;
  padding-right: 20px;
}

.layout {
  color: gray;
}

.tm-social {
  width: 30px;
  height: 30px;
  padding: 15px;
}

.icone {
  display: none;
}

@media (max-width: 450px) {
  header {
    width: ;
  }

  .container {
    background-size: cover;
  }

  .icone {
    display: initial;
  }

  .menu {
    display: none;
  }

  .containerRodape {
  }
}
